// Mixins Here

.flexcol() {
	display: flex;
	flex-direction: column;
}

.flexrow() {
	display: flex;
	flex-direction: row;
}

.testblock() {
    border: 1px solid red;
}

.cornering(@rad) {
    border-radius: @rad;
}