// Navigation code here


nav {
    width: 45%;
    font-size: 1.6rem;
    .flexrow();
    justify-content: space-around;
    a {
        color: @river-bend;
        text-decoration: none;
        font-weight: bold;
        @media (max-width: 500px) {
            padding: 12px;
            margin: 0;
            text-align: center
        }
    }
    @media (max-width: 500px) {
        width: 100%;
        padding: 0;
        justify-content: space-evenly;
    }
}